@import url(base.css);
@import url(main.css);
@import url(secondary.css);
@import url(third.css);
@import url(fourth.css);

.secondary, .fourth {
  align-items: center;
  margin: 0 10em;
}
.description__title {
  font-weight: 700;
  font-size: 48px;
  color: var(--white);
  margin-bottom: .1em;
}
.description__text {
  color: var(--gray);
  line-height: 2em;
}